@primary-color: #45a1e2;
@danger-color: #F56C6C;
@grey-color: #939597;
@dark-text: #eeeeee;
@dark-text-grey:#9e9e9e;
@dark-background:#000;
@widget-boxshadow:0 2px 6px 0 rgba(0,0,0,.2);
*{margin: 0;padding:0;box-sizing: border-box;}
input,textarea,select{
  outline: none;
  border: none;
}
textarea{
  resize: none;
}
body{
  overflow-x: hidden;
  font-family: PingFangSC-Regular,-apple-system,BlinkMacSystemFont,Helvetica Neue,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;      
  -webkit-tap-highlight-color: rgba(18,18,18,0);
  touch-action: pan-x pan-y;
  color: #333;
  &.preview-show{
    // overflow-y:hidden;
  }
} 
a{
  text-decoration: none;
  color: inherit;
  font-size: inherit; 
}
pre{
  font-family: inherit;
  font-size: inherit;
}
img{
  vertical-align: middle;
}
.confirm-container{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .3s ease;
  z-index: 99;
  /* z-index: 99999; */
}
.confirm-container.show{
  opacity: 1;
}
.confirm-container.show .confirm-content{
  transform: translateY(0);
}
.confirm-content{
  border-radius: 5px;
  padding:10px 5px;
  background-color: rgba(0,0,0,.8);
  box-shadow: var(--widget-boxshadow);
  transition: all .3s ease;
  transform: translateY(-20px);
  will-change: transform;
  width: 200px;
}
.confirm-text{
  color: #fff;
  padding:0px 10px;
  margin-bottom: 10px;
}
.confirm-control{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.confirm-control .button{

}
.toast-item{
  position: fixed;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #dedede;
  padding: 5px 10px;
  text-align: center;
  width: 300px;
  font-size: 14px;
  line-height: 2;
  word-break: break-all;
  transition: top .2s;
  animation: fadeIn .2s;
}
.toast-item.fade-out{
  animation: fadeOut .2s;
  animation-fill-mode:forwards;
}
@keyframes fadeOut {
  0%{
    opacity: 1;
    transform: translate(-50%,0);
  }
  100%{
    opacity: 0;
    transform: translate(-50%,-30px);
    display: none;
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translate(-50%,-30px);
  }
  100%{
    opacity: 1;
    transform: translate(-50%,0);
  }
}
.toast-item.toast-danger{
  background-color: @danger-color;
  color: #fff;
}
.toast-item.toast-primary{
  background-color: @primary-color;
  color: #fff;
}  
.upload{}
.upload.dragging{
  outline: 2px dashed  @primary-color;
}
.upload-preview-image{
  width: 100px;
  height: 100px;
  background-color: #dedede;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
}
.upload-preview{
  display: flex;
  flex-wrap: wrap;
}
.upload-preview-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;      
}
.upload-preview-image-remove{
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  border-top: 30px solid @primary-color;
  border-left: 30px solid transparent;   
  opacity: .7;
  cursor: pointer;
}
.upload-preview-image-remove:before{
  content: "+";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -12px;
  top: 0;
  top: -31px;
  font-size: 20px;
  transform: rotate(45deg);
}
.upload-card{
  width: 100px;
  height: 100px;
  color: var(--grey-color);
  border-radius: 5px;
  border: 1px dashed @grey-color;
  cursor: pointer;
}
.upload-card:before{
  display: block;
  content: "+";
  font-size: 40px;
  width: 100%;
  line-height: 96px;
  text-align: center;
  color: inherit;
}
.upload-card:hover{
  color: @primary-color;
  border: 1px dashed @primary-color;
}
.upload-card input.form-control{
  display: none;
}
.upload-single-container{
  position:fixed;
  top: 0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100vh;
  background-color:rgba(0,0,0,.5);
  .upload-single-control{
    margin-top:20px;
    .button{
      margin-right:15px;
    }
  }
  .upload-single-preview{
    width: 400px;
    background-color:#fff;
    padding:15px;
    border-radius:5px;
    .upload-single-image{
      width: 100%;
    }
    img{
      max-width:100%;
    }
  }
}

.button{
  display: inline-block;
  height:auto;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 4px;  
  background-color:@primary-color;
  color:#fff;
  border-color:@primary-color;            
} 
.button:hover,.button:focus{
  /* color: #409eff; */
  border-color: #0180da;
  background-color: #0180da;   
}
.button:active{
  /* color: #3a8ee6; */
  border-color: #3a8ee6;
  opacity: .8;   
}  
.button.button-danger{
  background-color:@danger-color;
  border-color:@danger-color;            
} 
.button.button-danger:hover,.button.button-danger:focus{
  border-color: #e56764;
  background-color: #e56764;   
}
.button.button-default{
  color: #333;
  background-color:#fff;
  border-color:#ccc;            
} 
.button.button-default:hover,.button.button-default:focus{
  border-color: #ccc;
  background-color: #ddd;   
}
.button.button-mini{
  font-size: 12px;
  padding:6px 8px;      
}

.hidden{
  display:none;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-column{
  flex-direction: column;
  align-items: flex-start;  
}
.container-fluid{
  width:100%;
  overflow: hidden;
  &.container-min-height{
    min-height: 100vh;
  }
  .container{
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
    box-sizing:content-box;
  }
}

// preview
.full-preview-container{
  display: flex;
  overflow: hidden;  
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(0px);
  transition: all.3s ease,background-color 1s ease;
  opacity: 0;
}
.full-preview-container.loading:before{
  content: "加载中";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 9;
}
.full-preview-container.loading .full-preview-list{
  filter: brightness(0.3);
  -webkit-filter:brightness(0.3) ;
}
.full-preview-container.show{
  backdrop-filter: blur(15px);
  background-color: rgba(0,0,0,0.6);
  opacity: 1;
}
.full-preview-container.show .full-preview-list{
  opacity: 1;
  transform: scale(1);
}
.full-preview-list{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  max-width: 100%;
  height: 100%;
  max-height: calc(100% - 220px);
  opacity: 0;
  transform: scale(0.7);
  transition: all .3s ease;
  .preview-next{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width:50%;
    background-color: transparent;
    cursor: e-resize;
  }
  .preview-prev{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:50%;
    background-color: transparent;
    cursor: w-resize;
  }  
}
.full-preview-close{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("../image/close.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.full-preview-list img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  transition: all .4s ease;
}
.full-preview-indicator{
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  flex-grow: 0;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;

}
.preview-indicator{
  position: relative;
  flex: none;
  width: 70px;
  height: 70px;
  margin: 15px 5px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  border:2px solid transparent;
  flex-shrink: 0;
  background-color: rgba(0,0,0,.1);
}
.preview-indicator.active{
  border-color: #fff;
}
.preview-indicator.active::after{
  position: absolute;
  top: 0;
  content:"";
  display: block;
  box-shadow: 0px 0px 6px 1px #fff inset;
  width: 100%;
  height: 100%;
}
.preview-indicator img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
// form
.form-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #aaa;
  color: #fff;
  margin-bottom: 14px;
  padding: 8px 0; 
}
.form-heading .button{
  flex:0;
}
.form-heading h3{
  font-size: 28px;
  padding: 6px 0;
  flex: 1;
}
.form-group{
  margin-bottom: 15px;
}
.form-group:last-of-type{
  margin-bottom: 0;
}
.form-group label{
  display: block;
}
.form-group .form-control{
  display: block;
  width: 100%;
  font-size:14px;
  padding-left: 10px;
  line-height: 32px;
  min-height: 32px;
  border-radius: 4px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  -webkit-appearance: none;
}
.form-group .form-control.invalid{
  border-color: var(--danger-color);
}    
.form-group input.form-control{
}
.form-group label{
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
  html body{
    background-color: rgba(0,0,0,1);
    color:@dark-text;
  }
  .tangram-suggestion-current{
    background-color: lighten(@dark-background,20%)!important;
  }
  div.tangram-suggestion table tr td{
    color:@dark-text;
  }
  .tangram-suggestion,
  .BMap_bubble_pop{
    background-color: @dark-background!important;
  }
  html,
  .amap-container,
  .amap-sug-result,
  .amap-info-content,
  .toast-item,
  .form-group .form-control{
    background-color: @dark-background;
  }
  .bottom-center .amap-info-sharp{
    border-top-color: @dark-background;
  }
  div.point-detail h3{
    color: @dark-text;
  }
  div.point-detail pre{
    color: @dark-text-grey;
  }
  div.point-image{
    border-color: @dark-text-grey;
  }
  div.amap-sug-result .auto-item,
  .form-group .form-control{
    color: @dark-text;
  }
  .toast-item{
    box-shadow: 0 0 10px #666;
  }
  .amap-sug-result .auto-item:hover{
    background-color: lighten(@dark-background,20%);
  }
}